/* Reset
/* ---------------------------------------------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    font-family: var(--font-body);
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul[class],
ol[class] {
    padding: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
    margin-bottom: 0.25em;
}

h1 {
    font-family: var(--font-heading);
    font-weight: 600;
    text-transform: uppercase;
}

h2, h3 {
    font-family: var(--font-heading);
    font-weight: 600;
}

p,
ol,
ul {
  font-size: 1.125rem;
}


@media screen and (min-width: 30rem){
    h1 {
        font-size: 3rem;
        letter-spacing: -.125rem;
    }

    h2 {
        font-size: 2.25rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4, h5, h6 {
        font-size: 1.5rem;
        letter-spacing: -0.0625rem;
    }

    p,
    ol,
    ul {
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: -0.025rem;
    }
}



code {
    background-color: #251604;
    color: #FDFAF7;
    padding: 0.25rem;
    border-radius: 0.25rem;
}

.gh-content > * + * {
    margin-top: 1.75rem;
}

.gh-content > [id] + * {
    margin-top: 1.75rem;
}

.gh-content [id]:not(:first-child) {
    margin-top: 1.75rem;
}

.kg-card+:not(.kg-card):not([id]), :not(.kg-card):not([id])+.kg-card {
    margin-top: 1.75rem;
}

.gh-content hr {
    margin-top: 8vmin;
}

.gh-content hr + * {
    margin-top: 8vmin !important;
}